{% extends "cqmu/base.html" %}

{% block content %}
    <h1 class="site-h1">{{ active_topic|default:"所有类别主题" }}</h1>
    <form class="layui-form" lay-filter="search_form">
        <input type="hidden" name="at" value="{{ active_topic.id }}">
        <div class="layui-form-item layui-row layui-col-space5">
            <div class="layui-col-md6">
            <div class="layui-row">
                <div class="layui-col-xs4">
                    <select name="search_field">
                        <option selected value="">检索字段</option>
                        <option value="label">文件名</option>
                        <option value="author">作者</option>
                        <option value="presenter">主讲人</option>
                        <option value="description">文件描述</option>
                        <option value="recommended_tag">推荐标签</option>
                    </select>
                </div>
                <div class="layui-col-xs8">
                    <input type="text" name="search_field_value" class="layui-input" placeholder="关键字">
                </div>
            </div>
            </div>
            <div class="layui-col-md3">
                <select class="custom-select" name="grade">
                    <option selected value="">级别</option>
                    {% for g in grade %}
                        <option value="{{ g.id }}">{{ g.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="layui-col-md3">
                <select class="custom-select" name="file_category">
                    <option selected value="">文件类型</option>
                    {% for f in file_category %}
                        <option value="{{ f.id }}">{{ f.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-space5">
            <div class="layui-col-lg10 layui-col-md9">
                <div id="date-range" class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date_min" placeholder="发布日期" id="startDate" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="date_max" placeholder="发布日期" id="endDate" class="layui-input">
                    </div>

                </div>
            </div>
            <div class="layui-col-lg2 layui-col-md3">
                <div class="layui-row layui-col-space5">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs2">
                        <button class="layui-btn" lay-submit lay-filter="search">检索</button>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs2">
                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="reset">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- JavaScript -->
    <script type="text/javascript">
        layui.use(['laydate', 'flow', 'form'], function() {
            var laydate = layui.laydate,
                $ = layui.jquery,
                flow = layui.flow,
                form = layui.form;
            laydate.render({
                elem: '#date-range'
                ,value: new Date(new Date().getTime() - 2592000000)
                ,max: 1
                ,range: ['#startDate', '#endDate']
            });
            function getQueryVariable(variable)
            {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return '';
            }
            form.val('search_form', {
                'search_field': getQueryVariable('search_field')
                ,'search_field_value': decodeURIComponent(getQueryVariable('search_field_value'))
                ,'grade': getQueryVariable('grade')
                ,'file_category': getQueryVariable('file_category')
                ,'date_min': getQueryVariable('date_min')
                ,'date_max': getQueryVariable('date_max')
            })
            form.on('submit(reset)', function(data){
                window.location.href = '{% url 'index' %}?at=' + data.field.at;
                return false
            });
            flow.load({
                elem: '#flow-default'
                ,done: function(page, next){
                    var lis = [], get_url = '';
                    if(location.search){
                        get_url = '{% url 'file_list_json' %}'+ location.search +'&page='+ page;
                    } else {
                        get_url = '{% url 'file_list_json' %}?page='+ page
                    }

                    $.get(get_url, function(res){
                        layui.each(res.data, function(index, item){
                            var html = [
                                '<div class="layui-row layui-col-space15 layui-anim layui-anim-fadein">',
                                '<div class="layui-col-md12">',
                                '<div class="layui-panel">',
                                '<div class="layui-row layui-col-space10" style="margin: 10px;">',
                                    '<div class="layui-col-xs3">',
                                        '<a href="{% url 'index' %}'+ item.id +'/"><image src="'+ item.file_category +'" style="width: 100%;"/></a>',
                                    '</div>',
                                '<div class="layui-col-xs9">',
                                '<div class="layui-row">',
                                    '<div class="layui-col-xs8">',
                                        '<a href="{% url 'index' %}'+ item.id +'/"><h3>'+ item.label +'</h3></a>',
                                    ' </div>',
                                    '<div class="layui-col-xs4">',
                                        '<span class="layui-badge layui-bg-gray">发布日期'+ item.release_date +'</span>',
                                    '</div>',
                                '</div>',
                                '<div class="layui-row">',
                                    '<div class="layui-col-xs8">',
                                        '<span class="layui-badge layui-bg-green">'+ item.topic_category +'</span>',
                                        '<span class="layui-badge-rim">'+ item.grade +'</span>',
                                        '<span class="layui-badge-rim">'+ item.data_source +'</span>',
                                    '</div>',
                                    '<div class="layui-col-xs4">',
                                        '<span class="layui-badge-rim">访问 '+ item.visits +'</span>',
                                        '<span class="layui-badge-rim">下载 '+ item.downloads +'</span>',
                                        '<span class="layui-badge-rim">评分 '+ item.comment_scoring +'</span>',
                                    '</div>',
                                '</div>',
                                '<hr/>',
                                '<div class="layui-row layui-text">',
                                    '<p>'+ item.description +'</p>',
                                '</div>',
                                '</div>',
                                '</div>',
                                '</div>',
                                '</div>',
                                '</div>'
                            ].join('');
                            lis.push(html);
                        });
                        next(lis.join(''), page < res.pages);
                    });
                }
            });
        });
    </script>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>文件列表</legend>
    </fieldset>

    {% if file_upload_list %}
        <div id="flow-default">
{#        {% for file in file_upload_list %}#}
{#            <div class="layui-row layui-col-space15 layui-anim layui-anim-fadein">#}
{#                <div class="layui-col-md12">#}
{#                    <div class="layui-panel">#}
{#                    <div class="layui-row layui-col-space10" style="margin: 10px;">#}
{#                        <div class="layui-col-xs3 layui-bg-cyan" style="height: 100px;">#}
{#                            <a href="{% url 'file_detail' file.id %}"><h2>{{ file.file_category }}</h2></a>#}
{#                        </div>#}
{#                        <div class="layui-col-xs9">#}
{#                            <div class="layui-row">#}
{#                                <div class="layui-col-xs8">#}
{#                                    <a href="{% url 'file_detail' file.id %}"><h3>{{ file.label }}</h3></a>#}
{#                                </div>#}
{#                                <div class="layui-col-xs4">#}
{#                                    <span class="layui-badge layui-bg-gray">发布日期 {{ file.release_date }}</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="layui-row">#}
{#                                <div class="layui-col-xs8">#}
{#                                    <span class="layui-badge layui-bg-green">{{ file.topic_category }}</span>#}
{#                                    <span class="layui-badge-rim">{{ file.grade }}</span>#}
{#                                    <span class="layui-badge-rim">{{ file.data_source }}</span>#}
{#                                </div>#}
{#                                <div class="layui-col-xs4">#}
{#                                    <span class="layui-badge-rim">访问 {{ file.visits }}</span>#}
{#                                    <span class="layui-badge-rim">下载 {{ file.downloads }}</span>#}
{#                                    <span class="layui-badge-rim">评分 {{ file.comment_scoring }}</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <hr/>#}
{#                            <div class="layui-row layui-text">#}
{#                                <p>{{ file.description }}</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
        </div>
    {% else %}
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-md-offset6">
                <p>暂无文件</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}