{% extends "cqmu/base.html" %}

{% block banner %}
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-panel">
                <div class="layui-row layui-col-space25" style="margin: 0;">
                    <div class="layui-col-sm5">
                        <img src="{{ icon }}" style="width: 100%;"/>
                    </div>
                    <div class="layui-col-sm7">
                        <div class="layui-row">
                            <h1 class="site-h1">{{ file.label }}</h1>
                        </div>
                        <hr/>
                        <div class="layui-row">
                            <span class="layui-badge layui-bg-green">{{ file.topic_category }}</span>
                            <span class="layui-badge-rim">{{ file.work_unit }}</span>
                            <span class="layui-badge-rim">{{ file.presenter }}</span>
                            <span class="layui-badge layui-bg-gray">发生时间 {{ file.release_date }}</span>
                        </div>
                        <div class="layui-row">
                            <blockquote class="layui-elem-quote layui-quote-nm">
                                <p class="description">{{ file.description }}</p>
                            </blockquote>
                        </div>
                        <br/>
                        <br/>
                        <div class="layui-row">
                            <div class="layui-col-sm6 layui-col-sm-offset6 layui-col-md4 layui-col-md-offset8">
                                <span class="layui-badge-rim">访问 {{ file.visits }}</span>
                                <span class="layui-badge-rim">下载 {{ file.downloads }}</span>
                                <span class="layui-badge-rim">评分 {{ file.comment_scoring }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    <!-- Comment -->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>文件内容</legend>
    </fieldset>
    <blockquote class="layui-elem-quote" style="margin-top: 15px;">
        <!-- Link -->
        {% if form == 1 %}
            {% if file.url %}
                链接: <a href="{{ file.url }}" target="_blank">{{ file.url }}</a>
            {% else %}
                暂无内容,请联系管理员。
            {% endif %}
        {% else %}
            {% if file.file %}
                <!-- File -->
                {% if form == 2 %}
                    文件类型: {{ file.file_category }}
                    <br/><br/>
                    <iframe src="https://view.xdocin.com/xdoc?_xdoc={{ file.file.url }}&_toolbar=false" width='100%' style="min-height: 800px; border: 0;">
                    </iframe>
{#                    <iframe src="https://view.officeapps.live.com/op/view.aspx?src={{ file.file.url }}" width='100%' style="min-height: 800px; border: 0;">#}
{#                    </iframe>#}
                    <br/><br/>
                    <button type="button" class="layui-btn layui-btn-primary layui-border-green" onclick="notice(this)">点击下载</button>
                    <button type="button" class="hidden-button" onclick="dl('{{ file.file.url }}')" id="truedb">点击下载</button>
                {% endif %}
                <!-- Image -->
                {% if form == 3 %}
                    <img src="{{ file.file.url }}" style="width: 100%;"/>
                    <br/><br/>
                    <button type="button" class="layui-btn layui-btn-primary layui-border-green" onclick="notice(this)">点击下载</button>
                    <a href="{{ file.file.url }}" class="hidden-button" onclick="dl()" id="truedb">点击下载</a>
                {% endif %}
                <!-- Audio -->
                {% if form == 4 %}
                    <audio controls="controls">
                        <source src="{{ file.file.url }}" type="audio/mp3" />
                        <embed height="100" width="100" src="{{ file.file.url }}" />
                    </audio>
                    <br/><br/>
                    <button type="button" class="layui-btn layui-btn-primary layui-border-green" onclick="notice(this)">点击下载</button>
                    <button type="button" class="hidden-button" onclick="dl('{{ file.file.url }}')" id="truedb">点击下载</button>
                {% endif %}
                <!-- Video -->
                {% if form == 5 %}
                    <video src="{{ file.file.url }}" controls="controls" width="100%">
                        您的浏览器不支持 Video 标签。
                    </video>
                    <br/><br/>
                    <button type="button" class="layui-btn layui-btn-primary layui-border-green" onclick="notice(this)">点击下载</button>
                    <button type="button" class="hidden-button" onclick="dl('{{ file.file.url }}')" id="truedb">点击下载</button>
                {% endif %}
                <!-- Notice -->
                <span class="layui-font-red" style="margin-left: 10px;">下载课程内容仅供个人学习、研究使用。如您未经授权许可使用、传播本网站的课程内容，则存在侵犯我方利益的法律风险，将依法承担法律责任。</span>
            {% else %}
                暂无内容,请联系管理员。
            {% endif %}
        {% endif %}
    </blockquote>
    <!-- DownLoad -->
    <script type="text/javascript">
        function dl(url='') {
            layui.use('layer', function(){
                var layer = layui.layer
                ,$ = layui.jquery;
                if(url){
                    // Downloadjs
                    download(url);
                }
                $.get(location.href + 'downloads.json', function(res){});
                //显示自动关闭倒计秒数
                layer.alert('正在下载中...', {
                    time: 3*1000
                    ,skin: 'default-class'
                    ,success: function(layero, index){
                        var timeNum = this.time/1000, setText = function(start){
                            layer.title((start ? timeNum : --timeNum) + ' 秒后关闭', index);
                        };
                        setText(!0);
                        this.timer = setInterval(setText, 1000);
                        if(timeNum <= 0) clearInterval(this.timer);
                    }
                    ,end: function(){
                        clearInterval(this.timer);
                    }
                });
            });
        }
        function notice(btn) {
            console.log(btn);
            btn.className = 'hidden-button';
            document.getElementById('truedb').className = 'layui-btn layui-btn-primary layui-border-green';
            layui.use('layer', function(){
                layer.open({
                    content: '下载课程内容仅供个人学习、研究使用。如您未经授权许可使用、传播本网站的课程内容，则存在侵犯我方利益的法律风险，将依法承担法律责任。'
                    ,btn: ['同意']
                    ,btnAlign: 'c'
                    ,closeBtn: 0
                    ,move: false
                    ,skin: 'agree-class'
                    ,yes: function(index, layero){
                        layer.close(index);
                    }
                });
            });
        }
    </script>

    <!-- Comment -->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>评论列表</legend>
    </fieldset>

    {% if comments %}
        {% for comment in comments %}
            <blockquote class="layui-elem-quote layui-quote-nm layui-col-space15 layui-anim layui-anim-fadein">
                <span style="font-weight: bold;">{{ comment.nickname }}</span>
                <span class="layui-badge-rim">评分 {{ comment.scoring }}</span>
                <span class="layui-badge layui-bg-gray">{{ comment.comment_date }}</span>
                {% if comment.label %}
                    <br/><br/>
                    <span>{{ comment.label|default:'-' }}</span>
                {% endif %}
            </blockquote>
        {% endfor %}
    {% else %}
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-md-offset6">
                <p>暂无评论</p>
            </div>
        </div>
    {% endif %}

    <fieldset class="layui-elem-field" style="margin-top: 20px;">
        <legend>我要评论</legend>
        <div class="layui-field-box">
            <form action="{% url 'file_detail' file.id %}" method="post" class="layui-form layui-form-pane">
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="layui-form-item">
                    <label class="layui-form-label">评分</label>
                    <div class="layui-input-block">
                        {% for s in scoring %}
                            <input type="radio" name="scoring" id="scoring{{ s|first }}" value="{{ s|first }}" title="{{ s|last }}"
                            {% if forloop.last %} checked {% endif %}/>
                        {% endfor %}
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">评论内容</label>
                    <div class="layui-input-block">
                        <textarea name="label" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <input type="text" name="nickname" value="{{ request.user.get_short_name|default:"老师" }}" hidden/>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">评论</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </fieldset>

{% endblock content %}