{% extends "cqmu/base.html" %}
{% load static %}
{% block banner %}
    <div class="layui-carousel" id="banner">
        <div carousel-item>
            {% for b in banner %}
                <div>
                    <img src="{{ b.big_size.url }}" class="big_size">
                    <img src="{{ b.small_size.url }}" class="small_size">
                </div>
            {% endfor %}
            <!-- 缺省banner图 -->
            {% if banner|length == 0 %}
                <div>
                    <img src="{% static 'sizhengke/banner1140.jpg' %}" class="big_size">
                    <img src="{% static 'sizhengke/banner375.jpg' %}" class="small_size">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock banner %}

{% block content %}
    <form class="layui-form" lay-filter="search_form">
        {% csrf_token %}
        <input type="hidden" name="at" value="{{ active_topic.id }}">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-panel">
                    <div class="layui-row" style="margin-top: 10px;">
                        <div class="name layui-col-md2">类别主题</div>
                        <div class="layui-col-md10 layui-tab layui-tab-brief" lay-filter="at">
                            <ul class="layui-tab-title">
                                <li class="layui-this">{% if active_topic %}{{ active_topic }}{% else %}所有类别主题{% endif %}</li>
                            </ul>
                        </div>
                    </div>

                    {% include "cqmu/search_panel.html" with search_list=grade active=active_grade title='级别' filter='grade' only %}
                    {% include "cqmu/search_panel.html" with search_list=file_category active=active_file_category title='文件类型' filter='file_category'  only %}
                    {% include "cqmu/search_panel.html" with search_list=work_unit active=active_work_unit title='所在单位' filter='work_unit'  only %}
                    <div class="layui-row">
                        <div class="name layui-col-md2">发生时间</div>
                        <div class="layui-col-md10 layui-tab layui-tab-brief" lay-filter="release_date">
                            <ul class="layui-tab-title">
                                <li class="layui-this">全部</li>
                                <li lay-id="2022">2022年</li>
                                <li lay-id="2021">2021年</li>
                                <li lay-id="2020">2020年</li>
                                <li lay-id="2019">2019年</li>
                                <li lay-id="2018">2018年</li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-row layui-form-item layui-col-space5">
                        <div class="layui-col-md6">
                            <div class="layui-col-xs4">
                                <select name="search_field", lay-verify="search_field" lay-verType="tips">
                                    <option selected value="">检索字段</option>
                                    <option value="label">文件名</option>
                                    <option value="presenter">人物名称</option>
                                    <option value="description">文件描述</option>
                                </select>
                            </div>
                            <div class="layui-col-xs8">
                                <input type="text" name="search_field_value" class="layui-input" placeholder="关键字" id="search_field_value">
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <button class="layui-btn" lay-submit lay-filter="search">检索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- JavaScript -->
    <script type="text/javascript">
        layui.use(['laydate', 'flow', 'form', 'carousel', 'element', 'layer'], function() {
            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0; i<vars.length; i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return '';
            }
            function putQueryVariable(variable, value) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                var after_vars = []
                var is_variable = false;
                for (var i=0; i<vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable){
                        if(value){
                            after_vars.push(variable + "=" + value);
                        }
                        is_variable = true;
                        continue;
                    }
                    if (vars[i] != "") {
                        after_vars.push(vars[i])
                    }
                }
                if (!is_variable && value) {
                    after_vars.push(variable + "=" + value);
                }
                return after_vars.join("&")
            }
            var carousel = layui.carousel;
            carousel.render({
                elem: '#banner'
                ,width: '100%' //设置容器宽度
                ,arrow: 'hover' //始终显示箭头
                ,interval: 3000
                ,indicator: 'inside'
                ,height: '380px'
                //,anim: 'updown' //切换动画方式
            });
            var element = layui.element;
            element.tabChange('grade', {{ active_grade }});
            element.tabChange('file_category', {{ active_file_category }});
            element.tabChange('work_unit', {{ active_work_unit }});
            element.tabChange('release_date', {{ active_release_date }});
            element.on('tab(grade)', function() {
                window.location.href = '{% url 'index' %}?' + putQueryVariable('grade', this.getAttribute('lay-id'));
            });
            element.on('tab(file_category)', function() {
                window.location.href = '{% url 'index' %}?' + putQueryVariable('file_category', this.getAttribute('lay-id'));
            });
            element.on('tab(work_unit)', function() {
                window.location.href = '{% url 'index' %}?' + putQueryVariable('work_unit', this.getAttribute('lay-id'));
            });
            element.on('tab(release_date)', function() {
                window.location.href = '{% url 'index' %}?' + putQueryVariable('release_date', this.getAttribute('lay-id'));
            });
            element.on('nav(sort)', function() {
                window.location.href = '{% url 'index' %}?' + putQueryVariable('sort', this.getAttribute('lay-id'));
            });
            var laydate = layui.laydate,
                $ = layui.jquery,
                flow = layui.flow,
                form = layui.form;
            laydate.render({
                elem: '#date-range'
                ,value: new Date(new Date().getTime() - 2592000000)
                ,max: 1
                ,range: ['#startDate', '#endDate']
            });
            form.val('search_form', {
                'search_field': getQueryVariable('search_field')
                ,'search_field_value': decodeURIComponent(getQueryVariable('search_field_value'))
            });
            form.verify({
                search_field: function(value, item) {
                    var search_field_value = document.getElementById('search_field_value')
                    if(value == '' && search_field_value.value != '') {
                        return '检索关键字请先选择检索字段'
                    }
                }
            });
            flow.load({
                elem: '#flow-default'
                ,done: function(page, next){
                    var lis = [], get_url = '';
                    if(location.search){
                        get_url = '{% url 'file_list_json' %}'+ location.search +'&page='+ page;
                    } else {
                        get_url = '{% url 'file_list_json' %}?page='+ page
                    }

                    $.get(get_url, function(res){
                        layui.each(res.data, function(index, item){
                            var html = [
                                '<div class="layui-col-md4 layui-anim layui-anim-fadein">',
                                    '<div class="layui-panel">',
                                        '<div class="layui-row">',
                                            '<a href="{% url 'home' %}'+ item.id +'/">',
                                                '<div class="tagbox" title="'+ item.label +'">'+ item.topic_category +'</div>',
                                                '<div class="txtbox" title="'+ item.label +'">'+ item.work_unit +'</div>',
                                                '<div class="imgbox"><image src="'+ item.file_category +'" style="width: 100%;" title="'+ item.label +'"/></div>',
                                            '</a>',
                                        '</div>',
                                        '<div class="layui-row label">',
                                            '<a href="{% url 'home' %}'+ item.id +'/"><h3 title="'+ item.label +'">'+ item.label +'</h3></a>',
                                        '</div>',
                                        '<div class="layui-row label">',
                                            '<div class="layui-col-xs6">',
                                                '<span class="layui-badge-rim">'+ item.presenter +'</span>',
                                                '<span class="layui-badge-rim">'+ item.grade +'</span>',
                                            '</div>',
                                            '<div class="layui-col-xs6">',
                                                '<span class="layui-badge-rim">访问 '+ item.visits +'</span>',
                                                '<span class="layui-badge-rim">下载 '+ item.downloads +'</span>',
                                                '<span class="layui-badge-rim">评分 '+ item.comment_scoring +'</span>',
                                            '</div>',
                                        '</div>',
                                    '</div>',
                                '</div>',
                            ].join('');
                            lis.push(html);
                        });
                        next(lis.join(''), page < res.pages);
                    });
                }
             });
            if ({{ change_password }}) {
                // 初始密码未修改
                layer.open({
                    content: '请输入新的密码，长度必须大于8位并且包含大小写字母。</br></br><label class="layui-form-label">新密码</label><div class="layui-input-block"><input type="password" id="newp" autocomplete="off" class="layui-input"></div></br><label class="layui-form-label">重复密码</label><div class="layui-input-block"><input type="password" id="repeatp" autocomplete="off" class="layui-input"></div>'
                    ,btn: ['更新密码']
                    ,btnAlign: 'c'
                    ,closeBtn: 0
                    ,move: false
                    ,tipsMore: true
                    ,skin: 'default-class'
                    ,yes: function(index, layero){
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        var newp = document.getElementById('newp').value;
                        var repeatp = document.getElementById('repeatp').value;
                        var reg = /(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])^[0-9A-Za-z]{8,}$/;
                        if (newp != repeatp) {
                            layer.tips('重复密码不一致', '#repeatp')
                            return false;
                        }
                        if (newp.length < 8) {
                            layer.tips('长度必须大于8位', '#newp')
                            return false;
                        }
                        if (!reg.test(newp)) {
                            layer.tips('必须包含大小写字母', '#newp')
                            return false;
                        }
                        $.post('{% url 'change_password' %}', {'csrfmiddlewaretoken': csrftoken, 'newp': newp}, function(res){
                            if (res['result'] == 200) {
                                layer.close(index);
                                location.reload();
                            }
                        });
                        layer.tips('网络问题，请稍后再试', '#newp')
                    }
                });
            }
        });
    </script>
    <br/>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>思政文件</legend>
        <ul class="layui-nav layui-bg-gray" style="text-align: right;" lay-bar="disabled" lay-filter="sort">
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary layui-border-black layui-font-12" lay-id="visits">
                    访问<i class="layui-icon layui-icon-down layui-font-12"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary layui-border-black layui-font-12" lay-id="downloads">
                    下载<i class="layui-icon layui-icon-down layui-font-12"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary layui-border-black layui-font-12" lay-id="comment_scoring">
                    评分<i class="layui-icon layui-icon-down layui-font-12"></i>
                </a>
            </li>
        </ul>
    </fieldset>

    {% if file_upload_list %}
        <div id="flow-default" class="layui-row layui-col-space25">
{#        {% for file in file_upload_list %}#}
{#            <div class="layui-col-md4 layui-anim layui-anim-fadein">#}
{#                <div class="layui-panel">#}
{#                    <div class="layui-row">#}
{#                        <a href="{% url 'file_detail' file.id %}">#}
{#                            <div class="tagbox" title="{{ file.label }}">{{ file.topic_category }}</div>#}
{#                            <div class="txtbox" title="{{ file.label }}">{{ file.work_unit }}</div>#}
{#                            <div class="imgbox"><image src="{{ file.file_category.icon }}" style="width: 100%;" title="{{ file.label }}"/></div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="layui-row label">#}
{#                        <a href="{% url 'file_detail' file.id %}"><h2 title="{{ file.label }}">{{ file.label }}</h2></a>#}
{#                    </div>#}
{#                    <div class="layui-row label">#}
{#                        <div class="layui-col-xs6">#}
{#                            <span class="layui-badge-rim">人物名称: {{ file.presenter }}</span>#}
{#                        </div>#}
{#                        <div class="layui-col-xs6">#}
{#                            <span class="layui-badge-rim">访问 {{ file.visits }}</span>#}
{#                            <span class="layui-badge-rim">下载 {{ file.downloads }}</span>#}
{#                            <span class="layui-badge-rim">评分 {{ file.comment_scoring }}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
        </div>
    {% else %}
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-md-offset6">
                <p>暂无文件</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}