{% load range_list %}
{% for topic in topic_category %}
    {% if topic.child %}
        <li class="layui-menu-item-group layui-menu-item-down" lay-options="{type: 'group'}">
            <div class="layui-menu-body-title">
                {{ topic.label}} <i class="layui-icon layui-icon-up"></i>
            </div>
            <ul>
                {% include "cqmu/topic_category.html" with topic_category=topic.child active_topic=active_topic only %}
            </ul>
        </li>
    {% else %}
        {% if topic.label == active_topic.label %}
            <li class="layui-menu-item-checked2"><div class="layui-menu-body-title">
        {% else %}
            <li><div class="layui-menu-body-title">
        {% endif %}
            <a href="{% url 'index' %}?at={{ topic.id }}">{{ topic.label }}</a>
            </div></li>
    {% endif %}
{% endfor %}