{% load range_list %}
{% for topic in topic_category %}
    {% if level == 1 %}
        {% if topic.child %}
            dropdown.render({
                elem: '#nav{{ topic.id }}'
                ,trigger: 'hover'
                ,id: 'nav{{ topic.id }}'
                ,href: '{% url 'index' %}?at={{ topic.id }}'
                ,data: [
                    {% include "cqmu/topic_category.html" with topic_category=topic.child active_topic=active_topic level=level|add:1 only %}
                ]});
        {% endif %}
    {% endif %}
    {% if level > 1 %}
        {% if topic.child %}
            {title: '{{ topic.label }}'
            ,id: 'nav{{ topic.id }}'
            ,href: '{% url 'index' %}?at={{ topic.id }}'
            ,child: [
                {% include "cqmu/topic_category.html" with topic_category=topic.child active_topic=active_topic level=level|add:1 only %}
            ]},
        {% else %}
            {title: '{{ topic.label }}'
             ,id: 'nav{{ topic.id }}'
             ,href: '{% url 'index' %}?at={{ topic.id }}'
            },
        {% endif %}
    {% endif %}
{% endfor %}